SS_ILAlarm:CloudIL/DC/FMA/Alarm/
SS_ILALQFIL:CloudIL/DC/FMA/Alarm/
SS_ILAddrMgmt:CloudIL/CrossFunction/System_level/ CloudIL/DC/FMA/system_variable/
SS_ILAddrMgmtLib:CloudIL/DC/FMA/system_variable/
SS_ILCatLib:CloudIL/DC/CSS/Calendar_time_library
SS_ILCallMgmt:CloudIL/CM/CRH/ CloudIL/CM/RMS/UPM/
SS_ILCAC:CloudIL/TT/Transport_Resource_Management/
SS_ILCERM:CloudIL/CM/RMS/ERM/
SS_ILDiagnostic:CloudIL/DC/OMA/TRC/FUT/CCI/
SS_ILDMXEmu:CloudIL/DC/CSS/DMXEmu/
SS_ILDmxMsgLib:CloudIL/TT/DMXMSG CloudIL/DC/CSS/Libgen/Scheduler/multiple_queue_scheduler_message_buffer_interface CloudIL/DC/CSS/Libgen/Lib_monitor/dynamic_monitoring_RAN2930
SS_ILDmxMsg:CloudIL/TT/DMXMSG CloudIL/DC/CSS/Libgen/Scheduler/multiple_queue_scheduler_message_buffer_interface CloudIL/DC/CSS/Libgen/Lib_monitor/dynamic_monitoring_RAN2930
SS_ILEITP:CloudIL/TT/TR
SS_ILEITM:CloudIL/TT/TR
SS_ILFaStDist:CloudIL/TT/TR
SS_ILFeatureMgmt:CloudIL/DC/OMA/FeatureMgmt
SS_ILFeaMgmtFmnLib:CloudIL/DC/OMA/FeatureMgmt
SS_ILFUnitLib:CloudIL/CrossFunction/System_level/ CloudIL/DC/FMA/system_variable/ CloudIL/DC/FMA/unit_and_address_management/address_table/ CloudIL/DC/FMA/unit_and_address_management/funlib/ CloudIL/DC/FMA/il_has_library_service/ CloudIL/DC/FMA/unit_and_address_management/unit_management/
SS_ILFUnit:CloudIL/CrossFunction/System_level/ CloudIL/DC/FMA/system_variable/ CloudIL/DC/FMA/unit_and_address_management/address_table/ CloudIL/DC/FMA/unit_and_address_management/funlib/ CloudIL/DC/FMA/il_has_library_service/ CloudIL/DC/FMA/unit_and_address_management/unit_management/
SS_ILLibgen:CloudIL/DC/CSS/Libgen/APIs/ CloudIL/DC/CSS/Libgen/Catch_fatal_signal/ CloudIL/DC/CSS/Libgen/Crashme/ CloudIL/DC/CSS/Libgen/Endless_loop/ CloudIL/DC/CSS/Libgen/FD_thread/ CloudIL/DC/CSS/Libgen/Hand_management/ CloudIL/DC/CSS/Libgen/Hand_sync_creation/ CloudIL/DC/CSS/Libgen/Lib_monitor/ CloudIL/DC/CSS/Libgen/Memory/ CloudIL/DC/CSS/Libgen/Message/ CloudIL/DC/CSS/Libgen/Performance_test/ CloudIL/DC/CSS/Libgen/Refresh_hand/ CloudIL/DC/CSS/Libgen/Scheduler/  CloudIL/DC/CSS/Libgen/Startup/  CloudIL/DC/CSS/Libgen/Stateful/ CloudIL/DC/CSS/Libgen/Timer/ CloudIL/DC/CSS/Libgen/Warming/ CloudIL/DC/CSS/Lib_diagnosis/ CloudIL/DC/CSS/Libdmxmsg/ CloudIL/DC/CSS/Libgen/
SS_ILLog:CloudIL/DC/OMA/LogService/
SS_ILNasevaLib:CloudIL/DC/CSS/name_service/
SS_ILNaseva:CloudIL/DC/CSS/name_service/
SS_ILREASLib:CloudIL/DC/FMA/REAS/ru_switchover_restart/ CloudIL/DC/FMA/REAS/rg_restart/ CloudIL/DC/FMA/REAS/subscribe/
SS_ILREAS:CloudIL/DC/FMA/REAS/ru_switchover_restart/ CloudIL/DC/FMA/REAS/rg_restart/ CloudIL/DC/FMA/REAS/subscribe/
SS_ILStarter:CloudIL/DC/CSS/Startup/
SS_ILStarterPRSLib:CloudIL/DC/CSS/Startup/
SS_ILEventForwarder:CloudIL/DC/CSS/EventForwarder/
SS_ILMFS:CloudIL/DC/CSS/MFS/  CloudIL/DC/CSS/Fislib/
SS_ILMFSFisLib:CloudIL/DC/CSS/MFS/  CloudIL/DC/CSS/Fislib/
SS_ILMFSSYFLib:CloudIL/DC/CSS/MFS/  CloudIL/DC/CSS/Fislib/
SS_SS_ILParamMgmt:CloudIL/DC/OMA/ParamMgmt/  CloudIL/CrossFunction/System_level/
SS_ILTestCallMgmt:CloudIL/CM/CRH/CELL_and_CCH/
SS_ILTestDmxMsg:CloudIL/TT/DMXMSG CloudIL/DC/CSS/Libgen/Scheduler/multiple_queue_scheduler_message_buffer_interface CloudIL/DC/CSS/Libgen/Lib_monitor/dynamic_monitoring_RAN2930
SS_ILTicket:CloudIL/DC/FMA/ticket_service/
SS_ILUPSim:CloudIL/TT/TR
SS_ILWarming:CloudIL/DC/CSS/Warming/ CloudIL/DC/CSS/Thermo/
SS_ILSigiub:CloudIL/SI/SIA/Iub/
SS_ILSigss7:CloudIL/SI/SIA/Iu/
SS_ILSWMAN:CloudIL/DC/SCM/Vesion
SS_ILTestSigiub:CloudIL/SI/SIA/Iub/
SS_ILTestSigss7:CloudIL/SI/SIA/Iu/
SS_ILConfman:CloudIL/TT/IPS/IPPLAN/
SS_ILTestConfman:CloudIL/TT/IPS/IPPLAN/
SS_ILConfmanLib:CloudIL/TT/IPS/IPPLAN/
SS_RCPAAA:rcp/SEC/Certificate_Management rcp/Security/User_Management
SS_RCPHAProxyMGMT:rcp/NetServ/Connectivity
SS_RCPIPSRD:rcp/NetServ/Static_Route
SS_RCPIPUtil:rcp/NetServ/Connectivity
SS_RCPMsgLib:rcp/MSG
SS_RCPMsg:rcp/MSG
SS_RCPMsgTool:rcp/MSG CloudIL/TT/DMXMSG
SS_RCPNAT:rcp/NetServ/NTP
SS_RCPTransport:rcp/TR/GTP
SS_RCPNETSNMP:rcp/NetServ/SNMP
SS_RCPMOMSNMP:rcp/NetServ/SNMP
SS_RCPIPSRDConf:rcp/NetServ/Static_Route
SS_RCPSWMan:rcp/SWM
SS_RCPDBHAMgmt:rcp/DB/
SS_RCPIPSecMgmt:rcp/TR/IPSec
SS_RCPIPSecMgmtSCLI:rcp/TR/IPSec
SS_RCPIPSecCM:rcp/TR/IPSec
SS_RCPStorage:rcp/Storage
SS_RCPCCSMCU:rcp/MSG/CCS/MCUMSG/ rcp/ASM/CCS/MCU/
SS_RCPCCSRT:rcp/MSG/CCS/RTMSG/ rcp/ASM/CCS/RT/
SS_RCPIPMgmtCM:rcp/NetServ/IP_PLAN
SS_RCPRTNGCM:rcp/NetServ/IP_PLAN
SS_RCPLicFeaMLib:rcp/LM
SS_ILDeployment:CloudIL/DC/DEP/vRNC CloudIL/CrossFunction/System_level/Check_Systemd_service
SS_ILTestDeployment:CloudIL/DC/DEP/vRNC CloudIL/CrossFunction/System_level/Check_Systemd_service
SS_ILSymCollector:CloudIL/DC/OMA/Symptom_Collect
SS_DDRCPRefCnfs:rcp/Deploy
SS_DDRCPTypes:rcp/Deploy
SS_DDRTest:rcp/Deploy
SS_ILStatistics:CloudIL/DC/SIS
SS_ILRelManLib:CloudIL/DC/OMA/Continuous_delivery
SS_ILR1lMan:CloudIL/DC/OMA/Continuous_delivery
SS_ILTwampStatistics:CloudIL/DC/SIS
