SS_ILCAC:SS_ILAddrMgmt,SS_ILNasevaLib,SS_ILConfmanLib,SS_ILConfman,SS_DPDK
SS_ILCallMgmt:SS_ILAddrMgmt,SS_ILNasevaLib,SS_ILConfman,SS_ILEventFWEfiLib,SS_ILCAC,SS_ILAlarm,SS_DPDK
SS_ILCatlib:
SS_ILCERM:SS_ILAddrMgmt,SS_ILFeatureMgmt,SS_ILEventFWEfiLib,SS_ILConfman,SS_LDAP,SS_ILCatlib,SS_ILAlarm
SS_ILCLUGEN:SS_ILAddrMgmt
SS_ILCommon:SS_ILTools,SS_ILEITP,SS_DPDK
SS_ILConfman:SS_ILDXSERR,SS_ILAddrMgmt,SS_ILFUnit
SS_ILConfmanLib:SS_ILAddrMgmt,SS_ILFUnit,SS_ILConfman,SS_ILDtolib,I_ILAddrMgmt,SS_DPDK
SS_ILCoSiting:SS_ILDtolib,SS_ILAddrMgmtLib,SS_ILFUnit
SS_ILDiagnostic:SS_ILAddrMgmt,SS_ILAddrMgmtLib,SS_ILFUnit,SS_LDAP,SS_ILEITM,SS_DPDK
SS_ILDMXEmu:SS_ILAddrMgmt,SS_ILFUnit,SS_ILDtolib
SS_ILDmxMsg:I_ILLibgen,SS_DPDK,SS_ILTools
SS_ILDmxMsgLib:I_ILLibgen,SS_DPDK,SS_ILTools
SS_ILDPDK:
SS_ILDtolib:SS_ILAddrMgmt,SS_ILFUnit
SS_ILDXPFILE:
SS_ILDXSERR:
SS_ILEITM:SS_ILFaStDist,SS_ILAddrMgmt,SS_ILConfmanLib,SS_ILConfman,SS_ILDPDK,I_ILDPDK,SS_DPDK
SS_ILEITP:SS_ILFaStDist,SS_ILLibgen,SS_ILAddrMgmt,SS_ILAddrMgmtLib,SS_ILEITM,SS_ILSELib,SS_DPDK
SS_ILEventForwarder:SS_ILAddrMgmt,SS_ILEventFWEfiLib
SS_ILEventFWEfiLib:SS_ILAddrMgmt,SS_ILFUnit
SS_ILFaStDist:I_ILEITM,SS_ILEITP,SS_ILEITM
SS_ILFeaMgmtFmnLib:SS_ILDtolib,SS_ILAddrMgmt,SS_ILFUnit
SS_ILFeatureMgmt:SS_ILConfman,SS_ILAddrMgmt,SS_ILEventFWEfiLib
SS_ILFUnit:SS_ILAddrMgmt,SS_ILDtolib
SS_ILFUnitLib:SS_ILFUnit,SS_ILAddrMgmt
SS_ILLibgen:SS_ILAddrMgmt,SS_DPDK
SS_ILLIBMSC:
SS_ILLog:SS_ILAddrMgmt,SS_ILFUnit
SS_ILMFS:SS_ILAddrMgmt,SS_ILMFSSYFLib,SS_ILDXPFILE
SS_ILMFSFisLib:SS_ILAddrMgmt,SS_ILConfmanLib,I_ILConfman
SS_ILMFSSYFLib:SS_ILAddrMgmt,SS_ILFUnit,SS_ILConfmanLib,I_ILConfman
SS_ILNaseva:SS_ILAddrMgmt,SS_ILStarterPRSLib,SS_ILNasevaLib
SS_ILNasevaLib:SS_ILDtolib,SS_ILAddrMgmt,SS_ILFUnit
SS_ILNetworkLicense:
SS_ILOLNotice:SS_ILAddrMgmt,SS_ILFUnit,SS_ILStarterPRSLib,SS_ILNasevaLib
SS_ILParamMgmt:SS_ILAddrMgmt,SS_ILMFSSYFLib,SS_ILDXPFILE
SS_ILParamMgmtPmtLib:SS_ILAddrMgmt
SS_ILPostgresSync:
SS_ILREAS:SS_ILDtolib,SS_ILAddrMgmt
SS_ILREASLib:SS_ILDtolib,SS_ILAddrMgmt
SS_ILSigiub:SS_ILAddrMgmt,SS_ILStarterPRSLib,SS_ILConfman,SS_ILDXPFILE
SS_ILSigss7:SS_ILFUnit,SS_ILAddrMgmt,SS_ILNasevaLib,SS_ILConfmanLib,SS_ILConfman
SS_ILSS7PLAN:SS_ILNasevaLib,SS_ILAddrMgmt,SS_ILFUnit
SS_ILStarter:SS_ILAddrMgmt,SS_ILDtolib,SS_ILWarming
SS_ILStarterPRSLib:SS_ILDtolib,SS_ILAddrMgmt
SS_ILStatistics:SS_ILAddrMgmt,SS_ILNasevaLib,SS_DPDK
SS_ILSymCollector:SS_ILAddrMgmt,SS_ILNasevaLib
SS_ILTestCallMgmt:SS_ILFUnit,SS_ILDtolib,I_ILAddrMgmt,SS_ILDMXEmu,SS_ILREASLib,SS_ILNasevaLib,SS_ILWarming
SS_ILTestCatlib:
SS_ILTestConfman:SS_ILAddrMgmt,SS_ILFUnit
SS_ILTestDmxMsg:SS_DPDK
SS_ILTestEITM:SS_ILEITM,SS_ILAddrMgmt
SS_ILTestFeaMgmt:SS_ILFUnit,SS_ILAddrMgmt,SS_ILMFSSYFLib,SS_ILFeatureMgmt
SS_ILTestFUnit:SS_ILFUnit,SS_ILAddrMgmt,SS_ILDtolib
SS_ILTestLibgen:SS_ILAddrMgmt,SS_ILFUnit
SS_ILTestNaseva:SS_ILDtolib,SS_ILAddrMgmt,SS_ILFUnit
SS_ILTestOLNotice:SS_ILAddrMgmt,SS_ILFUnit
SS_ILTestParamMgmt:
SS_ILTestREAS:SS_ILAddrMgmt,SS_ILTestFUnit
SS_ILTestSigss7:SS_ILFUnit,SS_ILAddrMgmt,SS_ILNasevaLib,SS_DPDK
SS_ILTestSigiub:SS_ILAddrMgmt,SS_ILStarterPRSLib,SS_ILFaStDist,SS_LDAP
SS_ILTestStarter:
SS_ILTestTicket:SS_ILAddrMgmt,SS_ILDtolib
SS_ILTestXMLLIB:SS_ILDtolib,SS_ILAddrMgmt,SS_ILFUnit
SS_ILThirdpart:
SS_ILTicket:SS_ILDtolib,SS_ILAddrMgmt
SS_ILTools:
SS_ILUPSim:SS_DPDK
SS_ILWarming:SS_ILAddrMgmt,SS_ILFUnit,SS_ILStarter,I_FlexiException,I_GetBindIP,SS_LDAP,SS_LDAPSRC
SS_ILXMLLIB:SS_ILAddrMgmt,SS_ILFUnit
SS_ILTestDBPostgres:I_PostgresProxyLib,SS_RCPPGSProxyLib,I_HASLIBC
SS_RCPPGSProxyLib:I_PostgresProxyLib
SS_ILDOC:SS_RCPMsg
SS_RCPMsgLib:SS_RCPMsg
SS_RCPMsgTool:SS_ILDmxMsg,SS_ILLibgen,SS_DPDK,SS_RCPMsgLib
SS_ILAlarm:SS_ILAddrMgmt
SS_ILAddrMgmtLib:SS_ILAddrMgmt
SS_RCPDPM:SS_ILDPDK
SS_RCPDBHAMgmt:I_PostgresProxyLib
SS_ILTestXMLLIB:SS_ILDtolib
SS_ILSS7PLAN:I_ILAddrMgmt,I_ILFUnit
SS_RCPSWMan:I_ClusterMemMgr
SS_RCPAAA:I_AAA,I_BPConf,I_LibCredServ,I_PmgmtCAPI,I_CLog,I_CommUtil,I_CppAlarm
SS_RCPIPMGMTSCLI:I_BPConf,I_LibCredServ,I_PmgmtCAPI,I_AAA,I_CommUtil,I_PmgmtCppAPI,I_SCLI,I_HASLIB,I_SMMANAGERLIB,I_HAS,I_HASUTILS,I_HASMSG,I_HASLIBC,I_SMMANAGERLIB,I_TIMLIB,I_APSUPLIB,I_FlexiException,I_TaskMgmt,I_NetworkManagerAPI,I_IPMgmt,I_IPMgmtSCLI
SS_RCPNETSNMP:I_TraceLib,I_BPConf,I_LibCredServ,I_PmgmtCAPI,I_AAA,I_HASLIB,I_SMMANAGERLIB,I_HASLIB,I_HAS,I_HASUTILS,I_HASMSG,I_HASLIBC,I_SMMANAGERLIB,I_TIMLIB,I_APSUPLIB,I_FlexiException,I_CommUtil,I_CppAlarm,I_ConfMgmt,I_AlarmConvCppLib,I_CAlarm,I_AlarmLightLib,I_SCLI,I_NetSnmp
rcploglib:gbuild
rcppmuploader:gbuild
rcppmuploadercmapi:gbuild
SS_RCPCCSRT:I_Interface,I_DPDK
SS_RCPCCSMCU:I_Interface
SS_RCPTransport:I_Interface,I_DPDK
SS_RCPIPSRDConf:I_BPConf,I_LibCredServ,I_PmgmtCAPI,I_AAA,I_CommUtil,I_ConfMgmt,I_PmgmtCppAPI,I_IPMgmt,I_SCLI,I_LicFeM,I_ClusterMemMgr
SS_RCPIPSRD:I_CAlarm,I_AlarmLightLib,I_LicFeM,I_PmgmtCAPI,I_AAA,I_CLM,I_HASLIBC,I_BPConf,I_LibCredServ,I_CommUtil,I_CppAlarm,I_SCLI,I_ConfMgmt,I_AlarmConvCppLib,I_GetBindIP,I_FlexiException,I_HASLIB,I_HAS,I_SMMANAGERLIB,I_HASUTILS,I_HASMSG,I_TIMLIB
SS_RCPNTP:SS_IPMgmt,I_IPMgmt,I_BPConf,SS_BPConf
SS_RCPIPUtil:SS_ILTools
RCPNetworkManager:EventLoop
